*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.mdiv{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wether_app{
    height: 700px;
    width: 450px;
    background-image: url();
    box-shadow: 0px opx 30px skyblue;
    border-radius: 50px;
    padding: 30px;
}
.ip{
    height: 40px;
    width: 100%;
    margin-top: 30px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    position: relative;
}
.ip input{
    border: none;
    outline: none;
    flex-direction: 1;
    height: 40px;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
}
.ip button{
    height: 40px;
    width: 70px;
    border-radius: 20px;
    position: absolute;
    right: 0px;
    border: none;
    outline: none;
    background-color: orange;
    cursor: pointer;
}
.wether_img{
    height: 250px;
}
#temp{
    font-size: 50px;
    font-family: arial black;
}
#city{
    font-size: 35px;
    font-family: arial black;
    color: orange;
}
.humi{
    height: 80px;
}
.info2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wind_humidity{
    margin: 10px 0px 0px;
}